.set_pos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    height: auto;
}
.set_all{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    margin: 10px;
    
   
}
.set_postext {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    height: auto;
    padding: 10px;
    color: white;
    font-size: 30px;
}
.set_posstatus{
    display: flex;
    justify-content:start;
    align-items: center;
    flex-direction: column;
    margin: 0;
    height: auto;
}

.stepperContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 20px; /* Adjust as needed */
  top: 0; /* Adjust as needed */
}

.box {
    width: 345px;
    height: auto;
    background-color: #697E50;
    border-radius: 25px;
}
.boxhead {
    width: 300px;
    height: auto;
    background-color:#697E50;
    border-radius: 10px;
}
.inside_box {
    width: 312px;
    height: auto;
    background-color: #FFEF60;
    border-radius: 25px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.infoinside_box {
    width: 312px;
    height: 386px;
    border-radius: 25px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.pos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text {
    padding: 10px;
    color: white;
    font-size: 30px;
}
.text2 {
    padding: 10px;
    color: black;
    font-size: 20px;
}
.orderContainer {
    margin-bottom: 20px;
    background-color: #FFEF60;
    border-radius: 10px;
    padding: 20px;
  }
  
.orderContent {
    display: flex;
    justify-content: space-between;
  }
  
.steps {
    margin-left: 20px;
  }
  