.footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
}

.imgfooter {
    width: 60px;
    background-color: white;
    border-radius: 50%;
}

.setting_pos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no_underline {
    text-decoration: none;
    color: none;
    /* เปลี่ยนสีตามที่คุณต้องการ */
}