.position_all {
    height: 100%;
}

.Carousel_img {
    width: 412px;
    height: auto;
    padding: 10px;
}

.Container_all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.font_inbox {
    font-size: 12px;
    text-align: left;
    color: black;
    font-weight: bold;
}

.products_con {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    grid-gap: 1rem;
    margin: 20px;
    margin-bottom: 120px;
    background-color: #D4EFCF;
    padding-bottom: 20px;
}

.products_item {
    background-color: #FFEF60;
    border-radius: 5px;
    height: 100%;
}

.products_garden {
    font-size: 16px;
    width: fit-content;
    padding: 0.3rem;
    background-color: #FFEF60;
    border-radius: 10px;
    margin: 10px;
    position: absolute;
    color: black;
    font-weight: bold;
}   

.products_img {
    display: flex;
    justify-content: end;
}

.products_img img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.products_detail_pos {
    padding: 10px;
    color: black;
    font-weight: bold;
    width: 188px;
    height: 75.5px;
}

.footer_pc {
    background-color: #B0BF07;
    width: 100%;
    /* text-align: center; */
    padding: 20px;
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
}

.text_footer {
    color: white;
}

@media (min-width: 450px) {
    .Carousel_img {
        width: 1200px;
        height: auto;
        padding: 0px;
    }

    .products_item {
        background-color: #FFEF60;
        border-radius: 5px;
        height: 100%;
    }

    .products_item:hover {
        background-color: #FFEF60;
        border-radius: 5px;
        height: 100%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .products_con {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
        grid-gap: 1rem;
        margin: 20px;
        margin-bottom: 120px;
        background-color: rgb(241, 238, 238);
        /* padding-bottom: 20px; */
        width: 1200px;
        padding: 20px;
    }

    .products_detail_pos {
        padding: 10px;
        color: black;
        font-weight: bold;
        width: 188px;
        height: 75.5px;
    }

    .position_all {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
}