.headweb {
    display: flex;
    justify-content: center;
    color: white;
    background-color: #418300;
    width: fit-content;
    border-radius: 25px;
    padding: 15px;
}

.headweb h2 {
    margin: 0px;
}

.headweb_pos {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.promotion_banner {
    position: absolute;
    right: 45%;
    top: 17%;
    transform: rotate(-10deg);
    z-index: 1;
}

.promotion_img {
    width: 60vw;
}

@media (min-width: 450px) {
    .promotion_img {
        width: 30vw; 
    }

    .promotion_banner {
        position: absolute;
        transform: rotate(-9deg);
        z-index: 1;
        right: 75%;
        top: 20%;
    }
}

.Container_all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Card_sale {
    border-radius: 25px;
    width: 150px;
    height: 210px;
    background-color: #FFEB34;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}

.Card_nomal {
    border-radius: 25px;
    width: 150px;
    height: 210px;
    background-color: #568203;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}

.CardBody {
    flex-grow: 1;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Box_name_garden {
    background-color: #418300;
    width: fit-content;
    height: 20px;
    color: white;
    margin: 10px;
    border-radius: 25px;
    font-size: 8px;
}

.Box_name_garden_nomal {
    background-color: #B0BF07;
    width: fit-content;
    height: 20px;
    color: white;
    margin: 10px;
    border-radius: 25px;
    font-size: 8px;
}

.Box_info_durian {
    background-color: #418300;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}

.Box_info_durian_nomal {
    background-color: #B0BF07;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}

.font_inbox {
    font-size: 12px;
    text-align: left;
    color: white;
}

.products_con {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    grid-gap: 1rem;
    margin: 20px;
    margin-bottom: 120px;
    background-color: #D4EFCF;
    padding-bottom: 20px;
}

.products_item {
    background-color: #568203;
    border-radius: 25px;
}

.products_pos_garden {
    display: flex;
    justify-content: end;
    margin: 0px;
    padding: 0px;
}

.products_garden {
    font-size: 14px;
    width: fit-content;
    padding: 0.3rem;
    background-color: #B0BF07;
    border-radius: 10px;
    margin: 10px;
}

.products_img {
    display: grid;
    place-items: center; /* จัดให้อยู่ตรงกลางทั้งแนวนอนและแนวตั้ง */
    margin-bottom: 10px;
}

.products_img img {
    width: 90%;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
}


.products_detail {
    padding: 0.5rem;
    background-color: #B0BF07;
    border-radius: 10px;
    margin: 10px;
    font-size: 12px;
    color: white;
}