.set_pos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}

.box {
    width: 377px;
    height: 439px;
    background-color: #568203;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.Formlogin {
    background-color: #697E50;
    margin: 20px 20px 20px 20px;
    border-radius: 25px;
    border: None;
    width: 377px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: bold;
}

/* เพิ่ม Flexbox ใน children ของ .text */
.text > * {
    flex: 1; /* ทำให้ children ขยายออกเต็มพื้นที่ */
    margin-right: 10px; /* ระยะห่างด้านขวา */
}

.control {
    border-radius: 10px;
    width: 230px;
    height: 44px;
    padding: 8px;
    background-color: #FFEF60;
}

.botton_box {
    border-radius: 10px;
    background-color: #FFEF60;
    color: black;
    border-style: hidden;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}