.set_pos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    height: 100%;
}

.pos_img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button_logout {
    width: 100px;
    height: 41px;
    border-radius: 10px;
    color: white;
    background-color: #B0BF07;
    border-style: hidden;
    position: relative;
    top: 80px;
    left: 130px;
    font-size: 20px;
}

.userimg {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    top: 80px;
}


.box {
    width: 345px;
    height: 569px;
    background-color: #568203;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box_inside_profile {
    width: 312px;
    height: 236px;
    background-color: #B0BF07;
    border-radius: 25px;
    margin-bottom: 20px;
    margin-Top: 70px;
}

.box_inside_text {
    margin: 10px;
    font-size: 25px;
    color: white;
}

.box_inside_history {
    width: 312px;
    height: 193px;
    background-color: #B0BF07;
    border-radius: 25px;
}

.text_head_history {
    padding: 10px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.body_history {
    border-radius: 10px;
    color: black;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 5px;
}

.text_body_history {
    padding: 4px;
    font-size: 14px;
}

.score_line {
    overflow-y: auto;
    max-height: 146px;
    padding: 5px;
}

@media (min-width: 450px) {
    .set_pos {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100 vh;
    }
    
    .pos_img {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .button_logout {
        width: 100px;
        height: 41px;
        border-radius: 10px;
        color: white;
        background-color: #B0BF07;
        border-style: hidden;
        position: relative;
        top: 80px;
        left: 130px;
        font-size: 20px;
    }
    
    .userimg {
        width: 150px;
        height: 150px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        top: 80px;
    }
    
    
    .box {
        width: 600px;
        height: 569px;
        background-color: #568203;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 100px;
    }
    
    .box_inside_profile {
        width: 90%;
        height: 236px;
        background-color: #B0BF07;
        border-radius: 25px;
        margin-bottom: 20px;
        margin-Top: 70px;
    }
    
    .box_inside_text {
        margin: 10px;
        font-size: 25px;
        color: white;
    }
    
    .box_inside_history {
        width: 90%;
        height: 193px;
        background-color: #B0BF07;
        border-radius: 25px;
    }
    
    .text_head_history {
        padding: 10px;
        color: white;
    }
    
    .body_history {
        border-radius: 10px;
        color: black;
        background-color: white;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 5px;
        padding: 5px;
    }
}

