body {
    background-image: url('/public/bg.png');
    background-size: cover; 
    background-position: center; 
    width: 100%;
    height: 100%;
}

.bg {
    background-image: url('/public/bg.png');
    background-size: cover; 
    background-position: center; 
    width: 100%;
    height: 100%;
}

.carousel-control-prev {
    display: none; /* ซ่อนปุ่มเลื่อนด้านซ้าย */
}

.carousel-control-next {
    margin: 0;
    padding: 0;
    width: 100px;
    position: absolute;
}
